@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}

<link rel="stylesheet" href="~/css/products.css" />
<script>
    const finishPurchase = function (name, id) {
        var Purchase = {
            "Username": '@ViewBag.Username',
            "ProductId": id
        }
        $.post("/Product/AddPurchase", Purchase, (data, status) => {
            if (status != "success") {
                alert("error ocured while trying to save the product");
            }
        });

        var purchaseText = "You got yourself a new " + name + "!";
        $('.modal-body').html(purchaseText);
    };

    const openShareDialog = productName => {
        FB.ui({
            method: 'share',
            href: 'https://developers.facebook.com/docs/',
            hashtag: '#u_market',
            quote: `I am loving the product "${productName}" from u_market!!! <3`
        });
    }
</script>

<div class="cards">
    @foreach (var product in @ViewBag.Products)
    {
        <div class="card-container">
            <div class="card">
                <img src=@(product.ImageUrl!=null ? @product.ImageUrl : "https://www.allianceplast.com/wp-content/uploads/2017/11/no-image.png")
                     class="card-img-top image-container" alt="">
                <div class="card-body">
                    <h5 class="card-title">@product.Name</h5>
                    <p class="card-text product-desc">@product.Description</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">@product.Store.Name shop</li>
                    <li class="list-group-item">@product.Price$</li>
                </ul>
                <div class="card-body card-bottom">
                    <i class="btn far fa-thumbs-up" onclick="openShareDialog('@product.Name')"></i>
                    <button onclick="finishPurchase('@product.Name', '@product.Id')" type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#purchaseModal">Buy me!</button>

                    <div class="modal fade" id="purchaseModal" tabindex="-1" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Your order is complete!</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    }
</div>