@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";

}
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/lodash/lodash.min.js"></script>
<script src="~/js/product.js"></script>
<link rel="stylesheet" href="~/css/products.css" />
<script>
    const finishPurchase = function (name, id) {
        var Purchase = {
            "Username": '@ViewBag.Username',
            "ProductId": id
        }
        $.ajax({
            type: "POST",
            url: "/Product/AddPurchase",
            data: Purchase,
            success: () => {
                const purchaseText = "You got yourself a new " + name + "!";
                $('.modal-body').html(purchaseText);
            },
            error: (data) => {
                $('.modal-body').html(JSON.parse(data.responseText).message);
            }
        });
    };

    const openShareDialog = productName => {
        FB.ui({
            method: 'share',
            href: 'https://developers.facebook.com/docs/',
            hashtag: '#u_market',
            quote: `I am loving the product "${productName}" from u_market!!! <3`
        });
    }

    const changeCurrency = (priceInIls, elementId) => {
        newCurrency = $("#currency-" + elementId).val();
        const url = "https://free.currconv.com/api/v7/convert?q=ILS_" + newCurrency + "&compact=ultra&apiKey=c832ed4009e43d98f0fb";
        $.get(url, (data) => {
            const price = Number(priceInIls * data["ILS_" + newCurrency]);
            $("#price-" + elementId).text(price.toFixed(2));
        });
    }
</script>
<input type="text"  class="form-control" placeholder="Search anything" id="search" />
<section class="input-group">
    <label>Filter By:</label>
    <select class="form-control store" name="store">
        <option value="" disabled selected>Select a store</option>
        @foreach (var store in ViewBag.Stores)
        {
            <option name=@store.Name value=@store.Id>@store.Name</option>
        }
    </select>
    <select class="form-control price" name="price">
        <option value="" disabled selected>Select a price</option>
        @foreach (var price in ViewBag.Prices)
        {
            <option value=@price>@price</option>
        }
    </select>
    <select class="form-control tag" name="tag">
        <option value="" disabled selected>Select a tag</option>
        @foreach (var tag in ViewBag.Tags)
        {
            <option value=@tag.Id>@tag.Name</option>
        }
    </select>
    <button id="clear-btn" class="btn btn-danger">
        clear all
    </button>
</section>
<section>
    <h3>Products:</h3>
    <div class="cards">
        @if (ViewBag.Products.Count == 0)
        {
            <h3>No products found, try to filter by different proporties</h3>
        }
        @foreach (var product in @ViewBag.Products)
        {
            <div class="card-container">
                <div class="card">
                    <img src=@(product.ImageUrl==null || product.ImageUrl.Equals("") ? "https://www.allianceplast.com/wp-content/uploads/2017/11/no-image.png":@product.ImageUrl )
                         class="card-img-top image-container" alt="">
                    <div class="card-body">
                        <h5 class="card-title">@product.Name</h5>
                        <p class="card-text product-desc">@product.Description</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">@product.Store.Name shop</li>
                        <li class="price-line list-group-item">
                            <div id="price-@product.Id">@product.Price</div>
                            <select id="currency-@product.Id" onchange="changeCurrency(@product.Price, '@product.Id')">
                                <option value="ILS">ILS</option>
                                <option value="USD">USD</option>
                                <option value="EUR">EUR</option>
                            </select>
                        </li>
                    </ul>
                    <div class="card-body card-bottom">
                        <i class="btn far fa-thumbs-up" onclick="openShareDialog('@product.Name')"></i>
                        <button onclick="finishPurchase('@product.Name', '@product.Id')" type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#purchaseModal">Buy me!</button>

                        <div class="modal fade" id="purchaseModal" tabindex="-1" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Your order is complete!</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">

                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</section>

